CLOUDINARY_CLOUD_NAME=dly95y2mn
CLOUDINARY_API_KEY=349246552537687
CLOUDINARY_API_SECRET=UPapGNc31p0kNTcFUgZtFOqD_S0

MONGO_URI=mongodb://127.0.0.1:27017/localconnect_ai
JWT_SECRET=
CLIENT_URL=http://localhost:5173